extend default

block content
    p.
        Enjoy our wide selection of fluffy animals. Gaze at them and take them home
        with nothing more than a few pushes of buttons! Get your personal flufforama
        delivered today!

    each paymentSessionUrl in paymentSessions
        form(method='post')
            button(type='submit' data-payex-checkout=paymentSessionUrl disabled)
                span Buy now!
