@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:400,200,700')

*
    margin 0
    padding 0
    box-sizing border-box

body
    font-family 'futura-pt', sans-serif

.header
    color #fff
    background-color #00ad27
    text-align center

    .page-title
        font-weight 200
        font-size 80px
        text-align center
        padding 100px 0 40px 0
        text-transform uppercase

        a
            color #fff
            text-decoration none

        a:hover
            text-decoration underline

    .subtitle
        font-weight 100
        padding 0 0 80px 0

.main-content
    margin 50px auto
    max-width 960px

    p
        line-height 1.6
        margin-bottom 1.7em

    form
        button
            display block
            float left
            width 450px
            height 300px
            color #fff
            font-size 30px
            cursor pointer
            border 0
            border-radius 10px
            margin 10px

            span
                display none
                height 100%
                border-radius 10px
                padding-top: 28%
                background-color rgba(33, 33, 33, .5)

        button:hover span
            display block

    form:nth-of-type(1)
        button
            // Photo credit: https://www.flickr.com/photos/bonniesducks/4576467957/
            background url('/img/4576467957.jpg')

    form:nth-of-type(2)
        button
            // Photo credit: https://www.flickr.com/photos/bugginout/3537855716/
            background url('/img/3537855716.jpg')

    form:nth-of-type(3)
        button
            // Photo credit: https://www.flickr.com/photos/roblee/2696506/
            background url('/img/2696506.jpg')

    form:nth-of-type(4)
        button
            // Photo credit: https://www.flickr.com/photos/7407251@N07/544443631/
            background url('/img/544443631.jpg')

    form:nth-of-type(5)
        button
            // Photo credit: https://www.flickr.com/photos/peter-trimming/10580411436/
            background url('/img/10580411436.jpg')

    form:nth-of-type(6)
        button
            // Photo credit: https://www.flickr.com/photos/dipfan/155527838/
            background url('/img/155527838.jpg')

    form:nth-of-type(7)
        button
            // Photo credit: https://www.flickr.com/photos/39908901@N06/8748543279/
            background url('/img/8748543279.jpg')

    form:nth-of-type(8)
        button
            // Photo credit: https://www.flickr.com/photos/13459686@N04/2527159207/
            background url('/img/2527159207.jpg')

.footer
    clear both
    text-align center
    margin 50px auto
    max-width 600px
    border-top 1px solid #444
    padding 20px 0

    p
        color #444
        font-size 12px
